/*
Taller UX - Módulo Diseño Visual
by IXDA Mendoza
----------------------------------------------------------------------------- */

/* Includes
----------------------------------------------------------------------------- */


/* Variables
----------------------------------------------------------------------------- */
$main-color: #0D64BC;
$secondary-color: #26ADE4;
$text-color: #333333;
$text-color-inv: #fff;
$text-color-dimmed: #ccc;
$headings-color-one: #666;
$bkg-color-one: #333333;
$dimmed-color: #F6F6F6;



/* Base styles
----------------------------------------------------------------------------- */
html {
    position: relative;
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    color: $text-color;
    display: table;
    height: 100%;
    width: 100%;
}

    .page-row {
        display: table-row;
        height: 1px;
    }

    .page-row-expanded { height: 100%; }

    .locations-list {
        padding-bottom: 30px;
    }

footer {
    height: 110px;
}

.branding { display: none; }




/* .row {
    background-color: #fafafa;
    border-bottom: 1px dotted #ddd;
} */
